body {
    font-size: 16px;
    font-family: 'gothic', sans-serif;
    color: #1a1a1a;
    background-color: #aabbcc;
}


/** HEADER **/

#header-nav {
    background-color: #887766;
    border-radius: 0;
    border: 0;
}

#header-nav button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fc2293;
}

.navbar-collapse {
    border-top: 1;
}

.navbar-brand, .navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

.navbar-brand h1 {
    color: #000000;
    font-family: 'gothic', cursive;
    font-weight: bolder;
    font-size: 1.7em;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 2px #fe9797;
}

#nav-list {
    background-color: #876234;
}

#nav-list a {
    /*text-align: center;*/
    font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #202020;
    background-color: #fce29e;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1.5px solid #7d1913;
}


/** END HEADER */


/** HOME PAGE **/

#main-content {
    width: 92%;
    margin-bottom: 30px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#chicken-tile, #beef-tile, #sushi-tile {
    width: 100%;
    padding: 15px;
    background-color: #d98473;
    margin-bottom: 50px;
    box-shadow: 0 0 10px #111111;
}


/** END HOME PAGE **/
